@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fredoka";
  src: url("/fonts/Fredoka.ttf");
}

/* @font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-Italic");
  font-style: italic;
} */

@font-face {
  font-family: "Dosis";
  src: url("/fonts/Dosis-Bold.ttf");
}

@font-face {
  font-family: "nasin-nanpa";
  src: url("/fonts/nasin-nanpa.otf");
}
