@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Dosis";
  src: url("/fonts/Dosis-Bold.ttf");
}

@font-face {
  font-family: "nasin-nanpa";
  src: url("/fonts/nasin-nanpa.otf");
}
